html, body {
    margin: 0;
    padding: 0;
}

aside {
    position: fixed;
    left: 0;
    top: 50%;
    background-color: #2aabd2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition: width 2s;
}


#tips {
    padding: 10px;
    color: white;
}

.btn-download-resume {
    display: none;
    height: 40px;
    padding-right: 12px;
    line-height: 40px;

    color: white;
    /*background-color: #2aabd2;*/
}

.btn-download-resume:link {
    color: white;
}

.btn-download-resume:visited {
    color: white;
}

.btn-download-resume:hover {
    color: white;
    background-color: #f90;
}

.btn-download-resume:active {
    color: white;
}

.base {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .base{
        width: 98%;
    }
}

.base-1:before {
    content: "";
    display: block;
    height: 1px;
}

.wrap {
    margin: 30px 30px 30px 30px;
    background-color: #2b542c;
}

.base-1 {
    height: 200px;
    background-color: rgb(49, 140, 128);
}

.photo {
    float: left;
    height: 150px;
    background-image: url("myphoto.jpg");
}

.photo img {
    height: 100%;
}


.base-info {
    float: left;
    padding-left: 20px;
}

.base-info div {
    color: white;
    font-size: 1.2em;

}

.base-info div:first-child {
    color: white;
    font-size: 1.5em;
    padding-bottom: 1em;
    padding-left: 15px;
}

.base-info div:first-child span:nth-child(2) {
    font-size: 0.7em;
    display: inline-block;
    padding-left: 20px;
}

.base-info td:nth-child(2n+1) {
    padding-left: 15px;
}

.base-info td:nth-child(2n) {
    padding-right: 15px;
}

.base-2 {
    padding-top: 20px;
}


.title {
    margin-top: 20px;
    background: linear-gradient(to right, #3c763d, #fff);
}

.title :first-child {
    margin-top: 0;
}

.title:after {
    content: "";
    display: block;
    clear: both;
}


.title-icon {
    float: left;
    width: 40px;
    height: 35px;
    margin-right: 15px;
    background-color: #3c763d;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center center;
}

.icon-edu {
    background-image: url("icon/教育.png");
}

.icon-expr {
    background-image: url("icon/工作.png");
}

.icon-gre {
    background-image: url("icon/叶子.png");
}

.icon-pro {
    background-image: url("icon/项目.png");
}

.icon-skill {
    background-image: url("icon/技能标签.png");
}


.title-name {
    float: left;
    line-height: 35px;
}

.content {
    margin: 5px 40px;
}

.content .sub-title {
    font-weight: bold;
}

.content .sub-title td {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.content-wrap {
    /*background-color: #2b542c;*/
    margin: 10px 20px;
    line-height: 1.6em;
}

.one-progress-bar {
    height: 15px;
    min-width: 10em;
    border: 1px solid #ccc;
}

.one-progress-bar div {
    background-color: #2aabd2;
    height: 100%;
    min-width: 50%;

}

.skill-row td:nth-child(2n) {
    padding-right: 8em;
}

footer {
    height: 300px;
    background: linear-gradient(to bottom, #fff, rgba(49, 140, 128, 0.4));
}